.mainnav {
    grid-area: n;  
    background-color: #140e69;
  }
  .item {
    color: #008;
    margin: 5px;
    padding: 10px;
    text-align: center;
  }
  .item:hover {
    background-color: #888;
    cursor: pointer;
  }
 .item a {
    color: white;
    text-decoration: none;
    font-size: 30px;
  }
  .item a.active {
    color: red;
  }